* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}

#sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  transition: none;
  animation: none;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: salmon;
  overflow-x: visible;
}
#landing {
  height: 100%;
  width: 100%;
  position: fixed;
  transition: none;
  animation: none;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: salmon;
  overflow-x: visible;
}
#landingcontent {
  display: block;
  position: relative;
  top: 45%;
  left: 35%;
  font-size: 60px;
  margin: 0 auto;
  color: bisque;
}
.shape {
  width: 30px;
  height: 30px;
  background-color: bisque;
  margin-top: 20px;
  margin-left: 110px;
  font-size: 15px;
  color: bisque;
  border-style: solid;
  border-radius: 100px;
  padding: 1%;
}
.shape:hover {
  color: lightsalmon;
}

.shape i {
  color: bisque;
  font-size: 20px;
}
.shape i:hover {
  color: lightsalmon;
  font-size: 20px;
}

#links {
  display: block;
  position: relative;
  top: 40%;
}
#links a {
  padding: 10px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: bisque;
}
#links a:hover {
  animation: spread 1s;
}

#sidenav a:hover {
  color: #f1f1f1;
}
#sidenav a.active {
  color: #f1f1f1;
}
#sidenav #mobileLinks {
  display: visible;
  grid-template-columns: 1fr;
}
#socialLinks {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(255, 228, 196);
}
body {
  background-color: linen;
}
.content {
  margin: 0 auto;
  margin-left: 200px; /* Same as the width of the sidenav */
  margin-right: 10px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  max-width: 800px;
  align-content: center;
  color: salmon;
  text-shadow: bisque 1px 2px;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsibleContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.name {
  /* animation-fill-mode: forwards; */
  opacity: 100%;
  /* float: left; */
  text-decoration: none;
  letter-spacing: normal;
  padding-left: 20px;
}
#sidenav a.icon {
  display: none;
}
.block {
  padding-top: 100px;
}
/* .block {
  display: none;
}
.block.active {
  display: block;
} */
.scroll {
  margin: 0 auto;
  align-self: center;
  color: lightsalmon;
}
.scroll:hover {
  margin: 0 auto;
  align-self: center;
  color: salmon;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 180px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes bounce {
  from {
    letter-spacing: normal;
  }

  50% {
    letter-spacing: 50px;
  }

  to {
    letter-spacing: normal;
  }
}
@keyframes spread {
  from {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 2px;
  }
  to {
    letter-spacing: normal;
  }
}

@media screen and (max-width: 675px) {
  /* #sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: none;
    animation: none;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: lightsalmon;
    overflow-x: visible;
  } */

  #sidenav {
    animation: none;
    z-index: -1;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: visible;
    background-color: salmon;
    position: sticky;
    width: 100%;
    margin: 0 auto;
  }
  #landing {
    display: block;
    width: 100%;
    height: 800px;
    z-index: 1;
    font-size: 60px;
    color: bisque;
  }
  #landingcontent {
    display: inline;
    margin-right: 200px;
    position: relative;
    top: 40%;
    left: 25%;
    font-size: 60px;
    color: bisque;
  }
  .shape:hover {
    color: lightsalmon;
  }
  .shape i {
    color: lightsalmon;
    font-size: 20px;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  #sidenav #mobileLinks {
    display: none;
    animation: none;
    vertical-align: bottom;
    grid-template-columns: 1fr;
  }
  h2 {
    padding-top: 100px;
  }

  /* Style navigation menu links */
  #sidenav a {
    animation: none;
    text-decoration: none;
    font-size: 30px;
    border-style: none;
  }

  /* Style the hamburger menu */
  #sidenav a.icon {
    background: lightsalmon;
    display: block;
    position: absolute;
    margin-right: 5px;
    right: 0;
    top: 0;
    margin-bottom: 200px;
    animation: none;
  }
  #sidenav a:hover {
    color: white;
  }

  #sidenav a.active {
    color: white;
  }
  .content {
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
  }
}
