* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
/* header {
  position: sticky;
  margin: 0 auto;
  top: 0;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 100%;
   margin-top: 20px;
  max-width: 90%; 
  background-color: lightsalmon;
} */
/* header a {
  color: white;
  padding: 12px;
  text-align: left;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
  transition: letter-spacing 1s;
} */

/* header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 3px;
} */

/* header a:hover {
  letter-spacing: 10px;
}

header a.active {
  /* text-decoration: underline;
  text-decoration-color: lightsalmon;
  text-decoration-style: dotted;
  text-decoration-thickness: 3.5px; 
  font-weight: bolder;
}
header a.icon {
  display: none;
} */
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  animation: shrink;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: lightsalmon;

  padding-top: 400px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: bisque;
  display: block;
  animation: fadein;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav a.active {
  color: #f1f1f1;
}

.content {
  margin: 0 auto;
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  max-width: 800px;
  align-content: center;
}

/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */

.name {
  /* animation-fill-mode: forwards; */
  opacity: 100%;
  /* float: left; */
  text-decoration: none;
  letter-spacing: normal;
  padding-left: 20px;
}
.sidenav a.icon {
  display: none;
}

#landing {
  z-index: 2;
  width: 100%;
  margin: 0;
  height: 1000px;
  padding: 0;
  background-color: lightsalmon;
  animation: fadeout;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  text-align: center;
}
#landing h2 {
  margin: 0 auto;
  color: white;
  font-size: 100px;
  padding-top: 50px;
}

.block {
  margin-top: 100px;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 160px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes bounce {
  from {
    letter-spacing: normal;
  }

  50% {
    letter-spacing: 50px;
  }

  to {
    letter-spacing: normal;
  }
}
@keyframes spread {
  from {
    letter-spacing: normal;
  }
  to {
    letter-spacing: 20px;
  }
}

@media screen and (max-width: 675px) {
  .sidenav {
    animation: none;
    margin-top: 0;
    padding-top: 0;
    overflow-y: visible;
    background-color: lightsalmon;
    position: relative;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .sidenav #mobileLinks {
    display: none;
    animation: none;
    grid-template-columns: 1fr;
  }

  /* Style navigation menu links */
  .sidenav a {
    animation: none;
    display: block;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-style: none;
    line-height: 20px;
  }

  /* Style the hamburger menu */
  .sidenav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .sidenav a:hover {
    color: white;
  }

  /* Style the active link (or home/logo) */
  .sidenav a.active {
    color: white;
  }
}
