* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;

  animation: shrink;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: lightsalmon;
}
.links {
  position: relative;
  top: 40%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: bisque;
  display: block;
  animation: fadein;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav a.active {
  color: #f1f1f1;
}
.sidenav #mobileLinks {
  display: visible;
  animation: fadein;
  grid-template-columns: 1fr;
}
.content {
  margin: 0 auto;
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  max-width: 800px;
  align-content: center;
}
.name {
  /* animation-fill-mode: forwards; */
  opacity: 100%;
  /* float: left; */
  text-decoration: none;
  letter-spacing: normal;
  padding-left: 20px;
}
.sidenav a.icon {
  display: none;
}

/* #landing {
  z-index: 2;
  width: 100%;
  margin: 0;
  height: 1000px;
  padding: 0;
  background-color: lightsalmon;
  animation: fadeout;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  text-align: center;
}
#landing h2 {
  margin: 0 auto;
  color: white;
  font-size: 100px;
  padding-top: 50px;
} */

.block {
  display: none;
}
.block.active {
  display: block;
}
.scroll {
  margin: 0 auto;
  color: lightsalmon;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 160px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes bounce {
  from {
    letter-spacing: normal;
  }

  50% {
    letter-spacing: 50px;
  }

  to {
    letter-spacing: normal;
  }
}
@keyframes spread {
  from {
    letter-spacing: normal;
  }
  to {
    letter-spacing: 20px;
  }
}

@media screen and (max-width: 675px) {
  .sidenav {
    animation: none;
    z-index: 1;
    margin-top: 0;
    padding-top: 0;
    overflow-y: visible;
    background-color: lightsalmon;
    position: sticky;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .sidenav #mobileLinks {
    display: none;
    animation: none;
    grid-template-columns: 1fr;
  }

  /* Style navigation menu links */
  .sidenav a {
    animation: none;
    display: block;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-style: none;
    line-height: 20px;
  }

  /* Style the hamburger menu */
  .sidenav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .sidenav a:hover {
    color: white;
  }

  /* Style the active link (or home/logo) */
  .sidenav a.active {
    color: white;
  }
}
