header, main{
  margin: 0 auto;
  max-width: 800px;

}
body{
  font-family: 'Yrsa', serif;
  background-color: #5087A6;
}
h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  text-align: center;
  text-shadow: #003E66 2px 5px;
}
body h2{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  text-shadow: #003E66 2px 5px;
  color: #FFF;
}
p{
  font-family: 'Abel', sans-serif;
}

header{
  color: white;
}

.headergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  text-align: center;
}
header a{
  color: #FE9221;
  font-size: 20px;
}
header a:hover {
  color: #FFFFFF;
}
header a:active {
  color: black;
}
#A1,
#A2,
#A3,
#A4,
#A5 {
  border-radius: 10px;
  border-color: #003E66;
  border-style: solid;
  margin-left: 5px;
  padding-top: 10px;
  background: #FFF;
  transition: background 1s ease-in;
}
#A1:hover,
#A2:hover,
#A3:hover,
#A4:hover,
#A5:hover{
  border-radius: 10px;
  margin-left: 5px;
  padding-top: 10px;
  transition: background 1s ease-in;
  background: #003E66;
}


.indexgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;

  text-align: center;

}
.indexgrid a {
  font-family: 'Luckiest Guy', cursive;
  color: #FE9221;
  font-size: 40px;
  text-decoration: none;
}
.indexgrid div{
  background: #fff;
  transition: background 1s ease-in;
  padding-top: 125px;
  border-radius: 20px;
  border-color: #003E66;
  border-style: solid;
  text-shadow: #003E66 2px 5px;

}
.indexgrid div:hover {
  background: #003E66;
  transition: background 1s ease-in;
  padding-top: 125px;
  border-radius: 20px;
  text-shadow: #000000 2px 5px;
}

.contactgrid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
  grid-template-rows: 300px;
}
.contactgrid div{
  background: #000;
  border-color: #003E66;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}
